.img-top{
    margin-top: -20px;
}
.ml-15{
    margin-left: 100px;
}
.bg-white{
    background-color: white;
}
li:hover{
    background-color: gray;
    border-radius: 10px;
}
.btn-curve{
    border-radius: 8px;
}
.fa-facebook-f :hover{
    color:#3B5998;
}
.fa-twitter :hover{
    color: #1DA1F2;
}
.fa-instagram :hover{
    color:#fb3958;
}
.fa-youtube :hover{
    color:red;
}
.mt-10{
    margin-top: 150px;
}
.img-radius img{
    border-radius:5px;
}
/*The CSS example*/
.active{
    border:none;
    border-bottom: 2px solid white;
}

.tab-bar p{
    border-top: solid 1px #ddd;
    margin: 0px;
    margin-top: -1px;
    font-size: 170%;
    padding: 40px 20px;
    display: none;
    position: absolute;
    width: 100%;
}

.tab-bar{
    height: 100px;
    color: #7f8c8d;
}

.tab-bar h2{
    padding: 8px 15px;
    font-size: 100%;
    font-weight: 100;
    cursor: pointer;
    display: inline-block;
    margin: 0px;
    position: relative;
}

.tab-bar h2:hover{
    background: #eee;
    cursor: pointer;
}

.active + p {
    display: block;
}
/*End CSS example*/

/*Other CSS*/
body{
    font-family: helvetica;
    font-size: 1.2em;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    width: 40%;
}

.container{
    margin-top: 50px;
}

/*gallery tabs*/
#tabs{
    //background: #007b5e;
    color: #eee;
}
#tabs h6.section-title{
    color:black;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: white;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    //border: 1px solid transparent;
    //border-top-left-radius: .25rem;
    //border-top-right-radius: .25rem;
    color: black;
    font-size: 20px;
}
#nav-tab .nav-item:hover{
    border: none;
   border-bottom: 2px solid black;
}
.mt-10{
    margin-top: 100px;
}
.mt-15{
    margin-top: 150px;
}
.text-red{
    color:red;
    font-family:"Yu Mincho Light";
}
.text-shadow{
    text-shadow: 5px 5px yellow;
}
.img-shadow{
    box-shadow: 0 0 100px yellow;
}
#wishes{
    font-family: 'Bad Script', cursive;
    margin:0;
    padding:0;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100px;
    font-size:xx-large;
}
#wishes h1{
    margin:0;
    padding:0;
    color:white;
}
#wishes h1 span{
    padding:0;
    margin:0;
    animation: animate 2.5s linear infinite;
}
#wishes h1 span:nth-child(1){
    animation-delay: 0s;
}
#wishes h1 span:nth-child(2){
    animation-delay: 0.25s;
}
#wishes h1 span:nth-child(3){
    animation-delay: 0.50s;
}
#wishes h1 span:nth-child(4){
    animation-delay: 0.75s;
}
#wishes h1 span:nth-child(5){
    animation-delay: 1s;
}
#wishes h1 span:nth-child(6){
    animation-delay: 1.25s;
}
#wishes h1 span:nth-child(7){
    animation-delay: 1.50s;
}
#wishes h1 span:nth-child(8){
    animation-delay: 1.75s;
}
#wishes h1 span:nth-child(9){
    animation-delay: 2s;
}
#wishes h1 span:nth-child(10){
    animation-delay: 2.25s;
}
#wishes h1 span:nth-child(11){
    animation-delay: 2.50s;
}
#wishes h1 span:nth-child(12){
    animation-delay: 2.75s;
}

@keyframes animate {
 0%,100%{
     color: #fff;
     filter:blur(2px);
     text-shadow: 0 0 10px #00b3ff,0 0 20px #00b3ff,0 0 40px #00b3ff,0 0 80px #00b3ff,
     0 0 120px #00b3ff,0 0 200px #00b3ff,0 0 300px #00b3ff,0 0 400px #00b3ff;
 }
    5%,95%{
        color: #111;
        filter:blur(0px);
        text-shadow:none;
    }
}
.opacity{
    background-color: rgba(0,0,0,0.7);
}
#wish{
    color:lightgray;
    text-shadow:0 0 10px #00b3ff;
    font-family: 'Bad Script', cursive;
}
.bg-aqua {
    background-color: #00b3ff;
}
#cheersImg{
    width:150px;
    border-radius: 50%;
    box-shadow:0 0 20px #00b3ff;
    animation: load 3s linear infinite;
}
@keyframes load{
    0%{
        transform:rotate(-5deg);
    }
    100%{
        transform:rotate(10deg);
    }
}